:root {
  --color-logo: #4d5ae5;
  --color-section1: #2e2f42;
  --color-footer: #f4f4fd;
  --color-paragraph: #434455;
  --color-portfolio: #e7e9fc;
  --color-footer-div: #ffffff;
  --section-five: #8e8f99;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}
.section-two-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-header {
  display: flex;
  gap: 40px;
}

.list-one-portfolio {
  justify-content: center;
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}

.list-two-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-two-list {
  gap: 24px;
  display: flex;
}
.section-two-li {
  width: calc((100% - 72px) / 4);
}

.section-three {
  padding-bottom: 120px;
}

.section-three-list {
  gap: 24px;
  display: flex;
}

.section-three-li {
  width: calc((100% - 48px) / 3);
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  margin-right: 76px;
  display: inline-block;
}

.logo-header {
  color: #2e2f42;
}

.first-link:hover {
  color: #404bbf;
}
.first-link:focus {
  color: #404bbf;
}

.first-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
}

.current {
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
  display: block;
}

.portfolio-link:hover .portfolio-box-p {
  transform: translateY(0%);
}

.portfolio-link:focus .portfolio-box-p {
  transform: translateY(0%);
}

.portfolio-li:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-four-li {
  background-color: #ffffff;
}
.section-four-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-four-icons-li {
  width: 40px;
  height: 40px;
  background-color: ;
}
.link-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon:hover {
  background-color: #404bbf;
}
.link-icon:focus {
  background-color: #404bbf;
}
.icon-li {
  fill: #f4f4fd;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.address-list {
  display: flex;
  gap: 40px;
}

.heading-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.span {
  color: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-paragraph {
  line-height: 1.5;
  color: var(--color-footer);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover {
  color: #404bbf;
}

.contact-link:focus {
  color: #404bbf;
}

.section-one {
  background-color: var(--color-section1);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.section-two {
  padding: 120px 0;
}

.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-four-list {
  display: flex;
  gap: 24px;
}

.section-four-li {
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-five-ul {
  display: flex;
  gap: 24px;
}
.section-five-li {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.section-five-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-five-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.section-five-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.section-five-logo {
  fill: currentColor;
}

.section-six {
  padding-top: 96px;
  padding-bottom: 120px;
}

.heading-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.heading-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.heading-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.heading-four-h3 {
  font-size: 20px;
  line-height: 24px;
  color: var(--color-section1);
  margin-bottom: 8px;
  text-align: center;
}

.heading-five {
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-section1);
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 72px;
}

.heading-six {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.product-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-section1);
  margin-bottom: 8px;
}

.paragraph-one {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.paragraph-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.product-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-paragraph);
}

.product-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.button:focus {
  background-color: #404bbf;
}

.button:hover {
  background-color: #404bbf;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  background-color: var(--color-footer);
  cursor: pointer;
  text-align: center;
  padding: 12px 24px;
  border: 1px solid var(--color-portfolio);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button :hover .filter-button :focus {
  background-color: var(--color-example);
}

.filter-button:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:focus {
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  background-color: #2e2f42;
  color: var(--CLOUD, #f4f4fd);
}
footer {
  padding: 100px 0;
}
.footer-main {
  display: flex;
  align-items: baseline;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-div {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  align-items: center;
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid var(--color-portfolio);
  border-top: none;
}

.div-four {
  padding: 32px 0px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  gap: 32px;
}
.section-two-icons {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.div-footer-one {
  margin-right: 120px;
}
.footer-paragraph-one {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer-div);
  margin-bottom: 16px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
}
.footer-icons-li {
  height: 40px;
  width: 40px;
}
.footer-link-icon {
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover {
  background-color: #31d0aa;
}
.footer-link-icon:focus {
  background-color: #31d0aa;
}
.footer-icon-li {
  fill: var(--color-footer);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus,
.button-close:hover {
  background-color: #404bbf;
  border: none;
  fill: white;
}

.button-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-box-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer, #f4f4fd);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-footer-three {
  margin-left: 80px;
}
.footer-paragraph-three {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.input-footer {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  display: flex;
}
.input-footer ::placeholder {
  color: #ffffff;
}
.button-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-icon-div {
  margin-left: 16px;
}

.paragraph-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-section1);
  margin-bottom: 16px;
}
.div-modal-form {
  margin-bottom: 8px;
}
.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--section-five);
  display: block;
  margin-bottom: 4px;
}
.div-modal-label {
  position: relative;
}
.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
}
.input-modal:focus {
  border-color: #4d5ae5;
}
.input-modal:focus + svg {
  fill: #4d5ae5;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-modal-four {
  margin-bottom: 16px;
}
.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal:focus {
  border-color: #4d5ae5;
}

.div-modal-five {
  margin-bottom: 24px;
}
.label-modal-five {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--section-five);
}
.span-label {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.link-modal {
  color: var(--color-logo);
}

.button-modal-six {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .label-modal-five span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .list-header {
  gap: 0;
  justify-content: start;
  max-width: 200px;
}
.menu-container .current::after {
  display: none;
}

.menu-container .address {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 48px;
}

.menu-address-list {
  flex-wrap: wrap;
  gap: 40px;
  justify-content: start;
  max-width: 353px;
}
.menu-address-li:first-child {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  min-width: 353px;
}
.menu-address-li:first-child .address-link {
  color: var(--iris);
}
.menu-social-list {
  gap: 56px;
  justify-content: start;
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .starting-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-mobile@2x.jpg");
  }
}


@media all and (min-width: 768px) {

  .container {
    max-width: 768px;
  }

  .header-wrap {
    height: 72px;
    max-width: 768px;
  }

  .navigation {
    align-items: center;
    display: flex;
  }

  .header-div .nav-list {
    display: flex;
    gap: 40px;
  }

  .header-div .nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0;
  }

  .header-div .address {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    margin-left: auto;
    max-width: 119px;
  }

  .header-div .address-list {
    gap: 12px;
  }

  .menu-toggle {
    display: none;
  }